* {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	background-image: linear-gradient(120deg, #e8fdfe, #f7efff, #ffeffd);
	font-family: sans-serif;
	margin: 0;
	padding: 4em 20% 1em 20%;
}

@media screen and (max-width: 1152px) {
	html {
		font-size: 85%;
	}

	body {
		padding: 2rem;
	}
}

h2 {
	border-left: 0.1875rem solid grey;
	padding: 0.25rem 1rem 0.25rem 1rem;
}

nav + h1, nav > ul > li > a, figcaption {
	display: none;
}

nav > ul {
	margin-left: 0.125rem;
	list-style-type: none;
}

nav ul {
	font-family: "Yu Gothic", DengXian, sans;
}

nav > ul > li > ul {
	list-style-type: korean-hangul-formal;
	padding: 0rem;
}

nav > ul > li > ul > li > ul {
	list-style-type: disc;
	padding-left: 1rem;
}

nav > ul > li > ul > li > ul > li > ul {
	list-style-type: circle;
	padding-left: 1rem;
}

nav > ul > li > ul > li > ul > li > ul > li > ul {
	list-style-type: disclosure-closed;
	padding-left: 1rem;
}

a {
	text-decoration: none;
}

a:link {
	color: dodgerblue;
}

a:hover {
	color: DeepPink;
}

p {
	overflow: auto hidden;
	word-break: break-word;
}

body > ul, body > :not(nav) ul, body > ol, body > :not(nav) ol, p {
	line-height: 1.75;
}

pre, blockquote {
	border-radius: 0.5rem;
}

pre, blockquote, button, input, textarea {
	background-color: rgba(255,255,255,0.25);
}

input, textarea {
	font-family: inherit;
	padding: 0.25em 0.75em;
}

pre, blockquote, button, input, textarea {
	border: 1px solid #a97aff;
}

pre {
	line-height: 1.45;
	padding: 1rem;
}

:not(pre) > code {
	background-color: rgba(255, 255, 255, 0.1);
	border: 0.5px solid #ccc;
	border-radius: 5px;
	padding: 0.5px 4px;
}

code {
	font-family: "Roboto Mono", "Ubuntu Mono", "Menlo", "Consolas", "Linux Libertine Mono", "Courier New", monospace;
	font-size: 85%;
}

img {
	max-width: 100%;
}

blockquote {
	font-family: "Times New Roman", Times, serif;
	margin: 0rem;
	padding: 0rem 1rem;
}

blockquote {
	font-size: 90%;
}

blockquote > p {
	line-height: 1;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	white-space: pre-wrap;
	width: 100%;
	word-break: break-all;
}

th {
	font-weight: bold;
}

table, th, td {
	border: 2px solid #dedeff;
	padding: 0.5rem 0.75rem;
}

textarea {
	display: block;
	height: 12em;
	margin: 1em auto;
	resize: none;
	width: 100%;
}

textarea:required {
	box-shadow: unset;
}

button {
	border-radius: 3px;
	margin: 0.5em 0;
	padding: 4px 1em;
	transition-duration: 0.4s;
}

button:hover {
	background-color: white;
}

.sourceCode {
	overflow: auto !important;
	white-space: pre-wrap !important;
}

.math {
	font-family: "Georgia", "Cambria Math", "Times New Roman", Times, sans-serif;
}
